/*Fonts*/
@font-face{
    font-family: 'goma';
    src: url('font/gomarice_goma_cookie.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'nautilus';
    src: url('font/Nautilus.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bigbesty';
    src: url('font/Bigbesty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*H2 Text*/

h2{
    position:relative;
    display: inline-block;
    padding-bottom: 10px;
    margin: 0;
    font-family: 'goma', sans-serif;
    font-size: 29px;   
    z-index: 1; 
    overflow: hidden;

    background: linear-gradient(to right, red,orange,yellow,lime,cyan,blue,violet,red,orange,yellow,lime,cyan,blue,violet,red);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-text-stroke: 1px rgba(80, 69, 39, 0.236);
    text-shadow: 3px 3px 18px rgba(65, 60, 60, 0.6);
    
    animation: rainbow-move 6s linear infinite;
}

/*Shine Effect*/
h2::after{
    content:"";
    position: absolute;
    top: 0;
    left: -40%;
    width: 40%;
    height: calc(100%+10px);

    background: linear-gradient(90deg, transparent 0%, rgba(255,255,255,0.6) 50%, transparent 100%);
    transform: skew(-20deg);
    animation: shine 10s infinite; 
    pointer-events: none;
    z-index: 1;
}
/*Shine Effect ENd*/

/*Underline*/
h2::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    z-index: 2;

    background: linear-gradient(to right,red, orange, yellow, lime, cyan, blue, violet, red, orange, yellow, lime, cyan, blue, violet, red);
    background-size: 200% 100%;
    animation: rainbow-move 6s linear infinite;    
    pointer-events: none;

    box-shadow: 0 0 12px rgba(65, 60, 60, 0.6),
    0 0 4px rgba(65, 60, 60, 0.8);
    
    outline: 1px solid rgb(80, 69, 39, 0.236);
    outline-offset: -1px;
}
/*Underline End*/
/*H2 Text End*/

/*P Text*/
p{
    position: relative;
    font-family: 'minya', sans-serif;
    font-size: 26px;
}
/*P Text End*/
/*Fonts End*/


/*Animations*/
@keyframes rainbow-move { 
    0% {background-position: 0% 0;}
    100% {background-position: 100% 0;}
}


@keyframes shine {
    0% {left:-40%}
    100% {left: 120%;}
}

@keyframes slide {
    0% {transform: translateX(0);}
    100% {transform: translateX(-50%);}
}
/*Animations End*/

/*Header*/
header {
    background: rgba(250, 242, 239, 0.864);
    height: auto;
    width: 1100px;
   margin: 0 auto;
    padding: 20px 0;
    border-bottom: 2px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #000000 0 4px 10px;
    border-radius: 150px;
    
}

.logo-container{
    text-align: right;
    display: inline-block;
}


.jacobi-logo{
    height: 200px;
}

.header1{
    font-family: 'goma', sans-serif;
    font-size: 26px;
    margin: 5px 0 0 0;
}
/* Header End */

/* Background */
body{
    background-color: rgba(38, 198, 248, 1);
}

body::before{
    content:"";
    position: fixed;
    top: 0%;
    left: 0;
    width: 600%;
    height: 500%;
    background-image: url("image/JacobiLogo.png");
    background-repeat: repeat;
    background-size: 550px 250px;
    background-origin: content-box;
    background-position: 0% 0%;
    transform: rotate(35deg);
    transform-origin: top;
    z-index: -1;
}
/*Background End*/

/* Content */
/*Content Background*/
.content{
    background-color: rgba(250, 242, 239, 0.84);
    margin: 20px auto;
    padding: 40px;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 1500px;
    height: fit-content;
    box-shadow: #000000 0 4px 10px;
    border-radius: 50px;
}

.content + .content{
    margin-top: 60px;
}
/*Content Background End*/

/* Content Text */
.bodyheader1{
    position: relative;
    margin: 0px 0px;
    padding: 0px 0px;
    margin-left: auto;
    display: inline-block;
   
}
.bodyheader1 h2{
display: inline-block;
}

.bodytext1{
    position: relative;
    margin-left: auto;
    padding: 0;
    text-align: left;
}
/* Content text */

/*Info Card*/
/*Info card Background*/
.box-row{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.box-row:last-child{
    justify-content: center;
}


.info-box, .last-box{
    position: relative;
    flex: 0 0 400px;
    height: 450px;
    margin-bottom: 100px;
    background-color:rgba(250, 242, 239, 0.955);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.96);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}
/*Info Card Background End*/

/*Info Card Header Font*/
.info-header{
    font-family: 'goma', sans-serif;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
}
/*Info Card Header Font End*/


/*Price Font*/
.price{
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-family: 'bigbesty';
    font-size: 35px;

    background: linear-gradient(to right, red,orange,yellow,lime,cyan,blue,violet,red,orange,yellow,lime,cyan,blue,violet,red);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-text-stroke: 1px rgba(80, 69, 39, 0.236);
    text-shadow: 3px 3px 18px rgba(65, 60, 60, 0.6);
    
    animation: rainbow-move 6s linear infinite;
}

.price::after{
    content:"";
    position: absolute;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;

    background: linear-gradient(120deg, transparent 0%, rgba(255,255,255,0.6) 50%, transparent 100%);
    animation: shine 10s infinite; 
    pointer-events: none
}
/*Price Font End*/

/* Logo Slider */
.logo-slider{
    position: relative;
    flex: 0 0 400px;
    height: 450px;
    border-radius: 20px;
    background-color: rgba(250, 242, 239, 0.955);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.96);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}
.logo-slider .price{
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 2;
}

.image-slider{
    width: 100%;
    overflow:hidden;
    flex: 1;
    margin-top: 10px;
}

.slide-track{
    display: flex;
    gap: 20px;
    animation: slide 20s linear infinite;
}

.slide-track img{
    width: 300px;
    height: 200px;
    margin-right: 20px;
    border-radius: 10px;
}
/* Logo Slider End */
/*Info Card End*/
/* Content End */





